<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Album</title>
</head>
<body>
    <div>
        <a href="/users/logout">Logout</a>
        <a href="/users/dashMusician">Dashboard</a>
        <h1>Upload Album</h1>
        <div class='form-layout'>
        <div class='form-container'>   
        <p class='album-info'>Album Info</p>
            <form action=''>
                <div>
                    <input type='text' placeholder='Album Title' />
                </div>
                <div>
                    <input type='text' placeholder='Genre' />
                </div>
                <div>
                    <input type='text' placeholder='Year' />
                </div>
            </form>     
        </div>
        <button class='button'>
            <a href="/addsong">Upload Info</a>
        </button>
        </div>  
    </div>
</body>
</html>