<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Song</title>
</head>
<body>
    <div>
        <a href="/logout">Logout</a>
        <a href="/dashboard">Dashboard</a>
        <h1>Add Song to Album</h1>
        <p className='song-info'>Song Info</p>
            <form action="/addsong/uploadsong" enctype="multipart/form-data" method="POST">
                <div>
                    <input type='text' id="song_title" name="song_title" placeholder='Song Title' required/>
                </div>
                <div>
                    <input type='text' id="song_genre" name="song_genre" placeholder='Genre' required/>
                </div>
                <div>
                    <label for="song_file">Upload song file:</label>
                    <input type="file" id="song_file" name="song_file" accept=".mp3">
                </div>   
                <div>
                    <input type="submit" value="Add Song">
                </div>  
            </form>  
        </div>
        <button class='button'>
            <a href="/usersongs">Song Inventory</a>
        </button>
        </div> 
    </div>
</body>
</html>
