<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Browse</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-logo">
            <a href="/dashMusician"><img src="/assets/home.png"></a>
        </div>
        <div class="search">
            <form action="/browse" method = "POST">
                <input type="search" id="search" name="search" placeholder="Search" />
              </form>
        </div>  
        <div class="nav-list">
            <ul>
                <li><a href="/browse">Browse</a></li>
                <li><a href="/musicplayer">MusicPlayer</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </nav>
<section class="section-f">
    <div class="tbl-header">
        <table class="table-f" cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th class="th-f">Song Name</th>
              <th class="th-f">Genre</th>
              <th class="th-f">Artist Name</th>
            </tr>
          </thead>
        </table>
      </div>
    <div>
        <table class="table-f" cellpadding="0" cellspacing="0" border="0">
          <tbody>    
            <%
            if(info.length!=0){
            var i=0;
            info.forEach(function(data){
            %>
            <tr>
            <td class="td-f"><%=data.song_name %></td>
            <td class="td-f"><%=data.song_genre %></td>
            <td class="td-f"><%=data.artist_f_name + " " + data.artist_l_name%></td>
            </tr>
            <%  i++; }) %>
            <% } else{ %>
            <tr>
            <td class="td-f">No Data Found</td>
            </tr>
            <% } %>
        </tbody>
        </table>
    </div>
</section>

</body>
</html>