<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Browse</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-logo">
            <a href="/dashMusician"><img src="/assets/home.png"></a>
        </div>
        <div class="search">
            <input type="text" placeholder="Search" />
        </div>  
        <div class="nav-list">
            <ul>
                <li><a href="/browse">Browse</a></li>
                <li><a href="/insights">Insights</a></li>
                <li><a href="/musicplayer">MusicPlayer</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </nav>    
</body>
</html>