<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudfire.com/ajax/libs/font-awsome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="search-input-wrapper">
        <div class="home-logo">
            <a href="/dashboard"><img src="/assets/home.png"></a>
        </div>
        <div class="search-input">
            <input type="text" placeholder="Songs, Artists, Albums, and More" value="sinput"/>
            <i class="fas fa-times"></i>
        </div>
    


    </div>
</body>

</html>