<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Admin Dashboard</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-user">
            <h1>Admin: <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>
            <a href="/addsong">Upload Music</a>
        </div>      
        <div class="nav-list">
            <ul>
                <li><a href="/browse">Browse</a></li>
                <li><a href="/insights">Insights</a></li>
                <li><a href="/musicplayer">MusicPlayer</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </nav>


</body>
</html>