<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-logo">
            <a href="/"><img src="/assets/home.png"></a>
        </div>      
        <div class="nav-list">
            <ul>
                <li><a href="/register">Join Us!</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <center>
            <div class="home-title">
                <h1 class="top">Team 2 Presents</h1>
                <div class="container">
                    <img src = "/assets/headphones.png"/>  
                </div>
                <h1 class ="bottom">Coog Music</h1>
            </div>
            
            <div class="auth_buttons">
                <a href="/login"><button class="auth_button login_button">Login</button></a>
                <a href="/register"><button class="auth_button login_button">Register Account</button></a>   
            </div>
        </center>
    </div>
</body>
</html>