<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/global.css" rel="stylesheet" type="text/css">
    <title>Dashboard</title>
</head>
<body>
    <div>
        <a href="/users/logout">Logout</a>
        <a href="/users/dashboard">Dashboard</a>
        <h1>Podcast</h1>
    <button>Add Podcast</button>
    </div>
</body>
</html>