<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Register</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-logo">
            <a href="/"><img src="/assets/home.png"></a>
        </div>      
        <div class="nav-list">
            <ul>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="main">
        <center>
            <div class="logo">
                <img src = "/assets/headphones.png"/>
            </div>
    
            <form class="form-z" action="/register" method="POST">
                <div class="title">
                    <h1>Create Coog Music Account</h1>
                </div>

                <div class="errors">
                    <ul>
                        <% if (typeof errors != 'undefined') { %> <% errors.forEach(error=>{ %>
                            <li><%= error.message %></li> 
                        <% }) %> <% } %>
                    </ul>
                </div>

                <div>
                    <input
                    type="text"
                    id="fname"
                    name="fname"
                    placeholder="First Name"
                    required>
                </div>

                <div>
                    <input
                    type="text"
                    id="lname"
                    name="lname"
                    placeholder="Last Name"
                    required>
                </div>

                <div>
                    <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Email"
                    required>
                </div>

                <div>
                    <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Password"
                    required>
                </div>

                <div>
                    <input
                    type="password"
                    id="password2"
                    name="password2"
                    placeholder="Confirm Password"
                    required>
                </div>

                <div class="title">
                    <h2 class="bottom">Will you be uploading songs?</h2>
                </div>
    
                <div>
                    <label class="radio">
                        <input type="radio" name="musician" value="1" required><span>YES</span>
                        <input type="radio" name="musician" value="0" required><span>NO</span>
                    </label>
                </div>
                
                <div>
                    <input
                    type="submit"
                    value="Register"
                    class="auth_button login_button">
                </div>
            </form>
        </center>
    </div>
</body>
</html>