<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Album</title>
</head>
<body>
    <div>
        <a href="/dashboard">Dashboard</a>
        <h1>Music Page</h1>
        <div class='form-layout'>
        <div class='form-container'>        
        </div>
        <button class='button'>
            <a href="/addalbum">Add Album</a>
        </button>
        <button class='button'>
            <a href="/addsingle">Add Single</a>
        </button>
        </div>
    </div>
</body>
</html>