body{
    padding-top: 100px;
    
    background-color: rgb(21, 21, 21);
    
}
.title {
    color: antiquewhite;
    font-size: 30px;
}
 .top{
    position: relative; 
    text-align: center;
} 
.bottom {
    position: relative;
    text-align: center;
    
} 
.container {

    width: 200px;
    height: 200px;
    
    
}
.container img {
    width: 100%;
    height: 100%;
    position: relative;
    
} 
.auth_button {
    background-color: #252525; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.login_button {
    background-color: #252525;
    color: white;
    border: 2px solid #252525;
    border-radius: 25px;
    
  }
  
.login_button:hover {
    background-color: white; 
    color: black; 
  }
.auth_buttons {
    top: -200px;
  }
