/***********
Global Styles
************/
* {
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(21, 21, 21);
    padding: 0;
    margin: 0;
}
.auth_button {
    background-color: #252525;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.login_button {
    background-color: #252525;
    color: white;
    border: 2px solid #252525;
    border-radius: 25px;
}
.login_button:hover {
    background-color: white; 
    color: black; 
}
.errors {
    color: antiquewhite;
}
.errors ul {
    list-style: none;
}
/********
Nav Bar
*********/
.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-color: #252525;
	width: 100%;
	height: 80px;
}
.nav-bar img {
    align-items: center;
    padding: 2px;
}
.nav-user {
    padding-left: 12px;
    color: antiquewhite;
    font-size: 20px;
}
.nav-list ul {
    padding-right: 12px;
    display: flex;
}
.nav-list li {
    list-style: none;
}
.nav-list li a {
    text-decoration: none;
    padding: 12px;
    display: block;
    color: antiquewhite;
    font-size: 20px;
    
}
.nav-list li a:hover {
    text-decoration: underline;
} 

/********
Home Page
*********/
.home-title {
    color: antiquewhite;
    font-size: 30px;
}
.top{
    position: relative; 
    text-align: center;
    padding-top: 150px;
} 
.bottom {
    position: relative;
    text-align: center;
    
}
.container {
    width: 200px;
    height: 200px;
}
.container img {
    width: 100%;
    height: 100%;
    position: relative; 
}

/***************
Login & Register
***************/
.main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.logo {
    width: 180px;
    height: 180px;
    padding-top: 0px;
}
.logo img {
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    opacity: 0.25;
}
form {
    width: 500px;
    height: 400px;
    position:relative;
    z-index:10;
}
.title {
    color: antiquewhite;
    font-size: 15px;
}
input {
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
    background-color: darkgray;
    color: black;
    outline: none;
}
input[type="radio"] {
    background-color: gray;
    margin: 0;
    color: antiquewhite;
    width: 2em;
    height: 2em;
}
input[type="radio"]:checked + label {
    color: antiquewhite;
}
.radio span {
    position: relative;
    color: antiquewhite;
}

/********
Dashboard
*********/
.playlist-header{
    background-color: coral;
    height: 20%;
}

.big-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tablecontainer {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    gap:20px;
    padding: 10px;
    margin: 20px;
    background-color: black;
    border: 2px solid gray;
}
.text-color{
    color: white;
}

/******
Account
******/
.account-title h1 {
    color: antiquewhite;
}
.userInfo {
    color: antiquewhite;
    text-align: left;
    padding-left: 140px;
}

/******
Browse
*******/
.search-input-wrapper {
    width: 100%;
    height: 5rem;
    background-color:#252525;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible; 
}

.search-input {
    width: 30rem;
    display: flex;
    align-items:center;
    color: black;
}

.search-input input {
    width: 27rem;
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid black;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    outline:none;
    color: grey;
    margin: 1rem;
}

.search-input i {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}

.home-logo {
    background-color: #252525;
    align-items: center;
    padding: 2px;
}

.Search button {
    background-color: #252525;
    border: none;
    color:rgb(21, 21, 21);
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}
/********
Dashboard
********/