/***********
Global Styles
************/
* {
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(21, 21, 21);
}
.auth_button {
    background-color: #252525;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.login_button {
    background-color: #252525;
    color: white;
    border: 2px solid #252525;
    border-radius: 25px;
}
.login_button:hover {
    background-color: white; 
    color: black; 
}
.errors {
    text-align: center;
    color: antiquewhite;
}
.errors ul {
    list-style: none;
}

/********
Nav Bar
*********/
.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-color: #252525;
	width: 100%;
	height: 80px;
}
.nav-bar img {
    align-items: center;
    padding: 2px;
}
.nav-user {
    padding-left: 12px;
    color: antiquewhite;
    font-size: 20px;
}
.nav-user a {
    text-decoration: none;
    text-align: center;
    display: block;
    color: antiquewhite;
    font-size: 20px;
}
.nav-user a:hover {
    text-decoration: underline;
}
.nav-musician {
    display: flex;
    width: 225px;
    justify-content: space-between;
}
.nav-list ul {
    padding-right: 12px;
    display: flex;
}
.nav-list li {
    list-style: none;
}
.nav-list li a {
    text-decoration: none;
    padding: 12px;
    display: block;
    color: antiquewhite;
    font-size: 20px;
}
.nav-list li a:hover {
    text-decoration: underline;
} 

/********
Home Page
*********/
.home-title {
    color: antiquewhite;
    font-size: 30px;
}
.top{
    position: relative; 
    text-align: center;
    padding-top: 150px;
} 
.bottom {
    position: relative;
    text-align: center;
}
.container {
    width: 200px;
    height: 200px;
}
.container img {
    width: 100%;
    height: 100%;
    position: relative; 
}

/***************
Login & Register
***************/
.main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.logo {
    width: 180px;
    height: 180px;
    padding-top: 0px;
}
.logo img {
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    opacity: 0.25;
}
.form-z {
    width: 500px;
    height: 400px;
    position:relative;
    z-index:10;
}
.title {
    color: antiquewhite;
    font-size: 15px;
}
input {
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
    background-color: darkgray;
    color: black;
    outline: none;
}

/********
Dashboard
*********/
.playlist-header{
    background-color: coral;
    height: 20%;
}

.big-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tablecontainer {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    gap:20px;
    padding: 10px;
    margin: 20px;
    background-color: black;
    border: 2px solid gray;
}
.text-color{
    color: white;
}

.button-align-right{
    float: right;
}

.form-a{
    gap: 10px;
    margin: 10px;
}

.form-b{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

/********
Insights
*********/
.h1-f{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}
.table-f {
    width:100%;
    table-layout: fixed;
}
.tbl-header {
    background-color: rgba(255,255,255,0.3);
}
.tbl-content {
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}
.th-f {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}
.td-f { 
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

/*Special for Admin*/
.td-s { 
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}
.section-f {
    margin: 50px;
  }

/******
Account
******/
.account {
    display: flex;
}
.left-container{
    padding-top: 50px;
    width: 360px;
}
.user-pic {
    width: 100%;
    height: 200px; 
}
.user-pic img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.user-details {
    width: 100%;
}
.user-title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}
.user-details ul {
    padding-left: 30px;
    list-style: none;
    color: white;
    font-size: 20px;
}
.right-container {
    width: 100%;
    display: inline-block;
}
.right-top-container {
    padding: 25px;
}
.right-bottom-container{
    display: flex;
	justify-content: space-evenly;
    width: 100%;
}
.account-title {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}
.form-left {
    color: white;
    text-align: left;
    font-size: 15px;
}
.form-right {
    color: white;
    text-align: left;
    font-size: 15px;
}

<<<<<<< HEAD
/********
Dashboard
********/
=======
/******
Add Songs
******/
.song-information{
    color: antiquewhite;
}
.song-button{
    background-color: darkgray;
    border: none;
    color: black;
    margin: 5px;
    height: 45px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid gray;
}
/******
Music Player
******/ 
  .player {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
   
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
  }
   
  .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("https://source.unsplash.com/Qrspubmx6kE/640x360");
    background-size: cover;
    background-position: center;
    border-radius: 15%;
  }
  .now-playing {
    font-size: 1rem;
  }
   
  .track-name {
    font-size: 3rem;
  }
   
  .track-artist {
    font-size: 1.5rem;
  }
   
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
   
  .playpause-track,
  .prev-track,
  .next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity 0.2s;
  }
   
  .playpause-track:hover,
  .prev-track:hover,
  .next-track:hover {
    opacity: 1;
  }
   
  .slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seek_slider {
    width: 60%;
  }
   
  .volume_slider {
    width: 30%;
  }
   
  .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }
  .seek_slider:hover,
  .volume_slider:hover {
    opacity: 1;
  }
   
  .current-time,
  .total-duration {
    padding: 10px;
  }
   
  i.fa-volume-down,
  i.fa-volume-up {
    padding: 10px;
  }
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward {
    cursor: pointer;
  }
>>>>>>> main
